<form method="post" action="{{ path('resourcedepartement_delete', {'rdId': resource_department.rdId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ resource_department.rdId) }}">
    <button class="btn">Delete</button>
</form>
