{% extends 'base.html.twig' %}

{% block title %}Edit ResourceDepartment{% endblock %}

{% block body %}
    <h1>Edit ResourceDepartment</h1>

    {{ include('resourcedepartement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('resourcedepartement_index') }}">back to list</a>

    {{ include('resourcedepartement/_delete_form.html.twig') }}
{% endblock %}
