{% extends 'base.html.twig' %}

{% block title %}SkyDrone{% endblock %}

{% block body %}

    <
    <div>
    <h1>Le projet Skydrone </h1>
    <p> Découvrez tous les grands noms en matière de drone que nous avons sélectionnés spécialement pour vous. Quelles que soient vos préférences et vos habitudes en matière de drone, nous avons le produit qui vous correspond. Que vous soyez plutôt drones de prise de vue, drones sous marins ou drones de course, nous disposons d'un choix de marques et de produits important vous permettant de trouver LE produit qui correspond parfaitement à vos besoins et vos envies.

    Retrouvez nos marques phares en matière de drone telles que DJI, Yuneec, Parrot, Eachine et bien d'autres.

    Réalisez des prises de vues aériennes sublimes grâce à nos gammes spécialisées dans l'imagerie : DJI Inspire 2, DJI Phantom 4 Pro+, Yuneec H520 ...

    Amusez-vous et apprenez à piloter de façon ludique grâce à notre gamme drones pour débutants. Le monde du drone s'offre à vous !</p>

    </div>

    <div>

        <div class="vertical-menu">
            <a href="#" class="active">Accueil </a>
            <a href="#">Débuter</a>
            <a href="#">Professionels</a>
            <a href="#">Loisirs</a>
            <a href="#">Sous-marin </a>
            <a href="#">Prise de vue</a>
            <a href="#">Accessoires</a>


        </div>
    </div>
{% endblock %}
