<!-- Menu vertical-->
<div class="col-2">
    <div class="vertical-menu">
        <ul>
            <li><a href="{{path('home')}}" class="active link-light">Accueil </a></li>
            <li><a href="{{path('catalog')}}" class="link-light">Débuter</a></li>
            <li><a href="#" class="link-light">Professionels</a></li>
            <li><a href="#" class="link-light">Loisirs</a></li>
            <li><a href="#" class="link-light">Sous-marin </a></li>
            <li><a href="#" class="link-light">Prise de vue</a></li>
            <li><a href="#" class="link-light">Accessoires</a></li>
        </ul>
    </div>

    <!-- Module aside -->
    <div class="col-10 module container">
        <!-- #TODO class pour les strong(temporaires) à mettre en + grand-->
        <p><strong>Expédition</strong>
            dans la journée</p>
        <p><strong>Equipe
                joignable</strong>
            du lun. au ven.
            de 9h à 18h
        </p>
        <p><strong>Entrepôt
                en France</strong>
            Stock en temps réel</p>

        <p><strong>Newsletter</strong>
            Pour connaître
            les dernières
            nouveautés</p>
    </div>
</div>