
<footer>
    <div class="container">
        <div class="row">
            <ul class="list-inline d-flex justify-content-between foot border-top border-white border-1" >
                <li class="list-inline-item footer align-self-baseline"><a href="" class="link-light">Mentions légales</a></li>
                <li class="list-inline-item footer align-self-baseline"><a href="" class="link-light">Nous contacter</a></li>
                <li class="list-inline-item footer align-self-baseline"><a href="" class="link-light">Qui sommes-nous ?</a></li>
                <li class="list-inline-item footer align-self-baseline"><a href="" class="link-light">Foire aux questions (FAQ)</a></li>
                <li class="list-inline-item footer align-self-baseline"><a href="" class="link-light">CGV</a></li>
                <li class="list-inline-item footer align-self-baseline"><img src="{{ asset('img/illustration.png') }}" alt="footer" id="img_footer" class="text-end"></li>
            </ul>

        </div>
    </div>
</footer>