<footer>

    <div class="row">
        <ul class="list-inline">
            <li><a href="" class="link-light">Mentions légales</a></li>
            <li><a href="" class="link-light">Nous contacter</a></li>
            <li><a href="" class="link-light">Qui sommes-nous ?</a></li>
            <li><a href="" class="link-light">Foire aux questions (FAQ)</a></li>
            <li><a href="" class="link-light">CGV</a></li>
        </ul>
        <img src="../../public/img/illustration.png" alt="footer">
    </div>

</footer>